<form id="cookieForm">
    <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control"  aria-describedby="emailHelp">
    </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="" aria-describedby="emailHelp">
 </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
    <input class="btn btn-primary" type="submit"/>
  </div>
  
  <button oneclick="getCookie()" class="btn btn-primary">Obtener Cookie</button>
</form>

<script src="/index.js"></script>